@*@model IEnumerable<THLWToolBox.Models.PlayerUnitData>*@
@model THLWToolBox.Models.PlayerUnitSwitchLinkHelperViewModel
@using THLWToolBox.Helpers;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        //$('#nameinput1').autocomplete({
        //    source: '/PlayerUnitSwitchLinkHelper/SearchUser' + $('#nameinput1').val()
        //});
        $('#nameinput1').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/PlayerUnitSwitchLinkHelper/SearchUser',
                    dataType: 'json',
                    data: { term: $('#nameinput1').val() },
                    success: function (data) {
                        var result = $.map(data, function (item) {
                            return {
                                label: item
                            };
                        });
                        return response(result);
                    }
                });
            },
            select: function (event, ui) {
                event.preventDefault();
                $('#nameinput1').val(ui.item.label);
            },
            create: function () {
                $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                    return $('<li>')
                        .append('<div id="ui-id-6" tabindex="-1" class="ui-menu-item-wrapper">'
                        + item.label + '<br></div>')
                        .appendTo(ul);
                };
            }
        });
</script>
}

<p><b><font color="red">*数据更新日期：@Html.Raw(GeneralHelper.DATA_UPDATE_DATE)</font></b></p>

<h2>亲密关系查询器</h2>
<p>
    <p>说明:</p>
    <p>有关亲密关系详情见我的文章：<a href="https://www.bilibili.com/read/cv22187818">换位连携机制详解</a></p>
</p>

<p>
    <form asp-controller="PlayerUnitSwitchLinkHelper" asp-action="Index" method="get">
        <p><b>角色名（带补全建议）:</b></p>
        <p><input type="text" id="nameinput1" asp-for="UnitName"></p>
        <p><b>泛异记号:</b></p>
        <select asp-for="SymbolId" asp-items="Model.Symbols">
            <option value=null>任意</option>
        </select>
        <input type="submit" value="筛选" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                头像
            </th>
            <th>
                角色名
            </th>
            <th>
                泛异记号
            </th>
            <th>
                亲密关系角色
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PlayerUnitDatas!)
    {
        <tr>
            <td>
                <img src="@Url.Content("~/res/units_img/" + item.playerUnitData.id + ".png")" alt="暂无图片" width="70" height="70" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerUnitData.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerUnitData.symbol_name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.RelatedUnitsToList())*@
                @Html.Raw(GeneralHelper.DisplayUnitLists(item.relatedUnits, Url))
            </td>
        </tr>
}
    </tbody>
</table>
