@{
    ViewData["Title"] = "Home Page";
}

<style>
    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 25%;
    }

    .button1 {
        background-color: #4CAFff;
    }

    .button2 {
        background-color: darkcyan;
    }

    .button3 {
        background-color: darkgoldenrod;
    }

    .button4 {
        background-color: darksalmon;
    }

    .button5 {
        background-color: deeppink;
    }

    .button6 {
        background-color: darkviolet;
    }

    .button7 {
        background-color: #4CAF50;
    }
</style>

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p><button type="button" onclick="location.href='@Url.Action("Index", "PictureDatasFilter")'" class="button button1">绘卷筛选器</button></p>
    <p><button type="button" onclick="location.href='@Url.Action("Index", "PlayerUnitSwitchLinkHelper")'" class="button button5">亲密关系查询器</button></p>
    <p><button type="button" onclick="location.href='@Url.Action("Index", "PlayerUnitRaceFilter")'" class="button button3">角色种族查询器</button></p>
    <p><button type="button" onclick="location.href='@Url.Action("Index", "PlayerUnitShotDataFilter")'" class="button button2">弹幕隐藏数据查询器</button></p>
    @*<button><img src="~/res/pictures_img/1.png" /></button>*@
</div>
